/* index__Style */

.header-index {
    margin-top: 2.1vh;
}

.main-index {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 50vh;
    font-size: 1.5vw;
    margin-top: 4vh;
}

.tips-index {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tips__block-index {
    flex: 1 0 50%;
    margin-top: 8vh;
}

.tips__block-index:nth-child(2) {
    text-align: right;
}

.tips__block-index:nth-child(4) {
    text-align: right;
}

.footer-index {
    height: 10vh;
    margin-top: 9.5vh;
}

/* index__Style */

/* Treatment__Style */

.header-treatment {
    margin-top: 2vh;
}

.main-treatment {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    font-size: 1.5vw;
}

.tips-treatment {
    display: flex;
    justify-content: space-between;
}

.tips__block-treatment:nth-child(2) {
    text-align: right;
}
.tips__block-treatment:nth-child(4) {
    text-align: right;
}

.text-treatment {
    display: flex;
    flex-direction: column;
    gap: 10vh;
    text-align: center;
}

.footer-treatment {
    height: 10vh;
    margin-top: 5vh;
}

/* Treatment__Style */