/* index__Style */

.header-index {
    margin-top: 2.1vh;
}

.main-index {
    justify-content: center;
    font-size: 1.5vw;
    gap: 10vh;
}

.tips-index {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tips__block-index {
    flex: 1 0 50%;
    margin-top: 15vh;
}

.tips__block-index:nth-child(2) {
    text-align: right;
}

.tips__block-index:nth-child(4) {
    text-align: right;
}

.tips__title-index {
    font-size: 2vw;
}

.buttons-index {
    text-align: right;
    justify-content: end;
}

.buttons__go-index {
    margin-right: 0.7vw;
}

/* index__Style */

/* Information__Style */

.head-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1vh;
}

.main-information {
    font-size: 1.4vw;
}

.text-information {
    display: flex;
    flex-direction: column;
    gap: 8vh;
    text-align: center;
}

.text__title-information {
    font-size: 2vw;
}

.buttons-information {
    margin-top: 2vh;
}

/* Information__Style */

/* Reasons__Style */

.main-reasons {
    gap: 5vh;
    font-size: 1.5vw;
}

.tips-reasons {
    display: flex;
    justify-content: space-between;
}

.tips__block-reasons:nth-child(2) {
    text-align: right;
}

.tips__title-reasons {
    font-size: 2vw;
}

.text-reasons {
    display: flex;
    flex-direction: column;
    gap: 10vh;
    text-align: center;
}

.text__title-reasons {
    font-size: 2vw;
}

/* Reasons__Style */

/* Treatment__Style */

.header-treatment {
    margin-top: 2vh;
}

.main-treatment {
    gap: 5vh;
    font-size: 1.5vw;
}

.tips-treatment {
    display: flex;
    justify-content: space-between;
}

.tips__block-treatment:nth-child(2) {
    text-align: right;
}

.tips__block-treatment:nth-child(4) {
    text-align: right;
}

.tips__title-treatment {
    font-size: 2vw;
}

.text-treatment {
    display: flex;
    flex-direction: column;
    gap: 10vh;
    text-align: center;
}

.text__title-treatment {
    font-size: 2vw;
}

.buttons-treatment {
    margin-top: 7vh;
}

.footer-treatment {
    height: 10vh;
    margin-top: 0vh;
}

/* Treatment__Style */

/* Video__Style */

.header-vi {
    margin-top: 0vh;
}

.main-vi {
    margin-top: -6vh;
    justify-content: center;
}

.tips-vi {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tips__block-vi {
    flex: 1 0 50%;
    text-align: center;
    margin-top: 3vh;
}

.footer-vi {
    height: 10vh;
    margin-top: 0vh;
}

/* Video__Style */

/* Us__Style */

.header-us {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 8vh;
    margin-top: 8vh;
}

.main-us {
    text-align: center;
    font-size: 2.2vw;
}

.buttons-us {
    margin-top: 15vh;
}

.buttons__back-us {
    margin-left: -0.8vw;
}

.footer-us {
    height: 10vh;
    margin-top: 0vh;
}

/* Us__Style */